:root {
  --dwp-color: #2ba197;
  --dark-color: #585353;
  --background-color: #faf9f6;
}

* {
  box-sizing: border-box;
}
body {
  background-color: var(--background-color);
  color: var(--dark-color);
  font-family: 'Muli', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

/****************** Nav Styling ********************/

.nav {
  position: fixed;
  background-color: var(--dwp-color);
  top: 0;
  left: 0;
  right: 0;
}

.nav .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.nav .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  color: #fff;
}

.nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  padding: 0px 30px;
}

.nav a {
  color: #fff;
  text-decoration: none;
  padding: 7px 15px;
}

.nav a.current,
.nav a:hover {
  color: var(--dark-color);
  font-weight: bold;
}

/*************************************************/

.container {
  background-color: var(--dwp-color);
  /*background-color: rgba(0, 0, 0, 0.4);*/
  padding: 20px 40px;
  border-radius: 5px;
  color: #fff;
}

.container h1 {
  text-align: center;
  margin-bottom: 30px;
}

.container a {
  text-decoration: none;
  color: var(--dark-color);
}

.btn {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background: var(--dark-color);
  padding: 15px;
  font-family: inherit;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
  color: #fff;
}

/* Adds click effect */
.btn:focus {
  outline: 0;
}

.text {
  margin-top: 30px;
}

.btn:active {
  transform: scale(0.98);
}

/*************** Form Styling *****************/

.form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 300px;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #fff;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
}

.form-control label {
  position: absolute;
  top: 5px;
  left: 0;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
}

.message-error {
  color: rgb(233, 75, 75);
}

.message-success {
  color: green;
}
